@import "./abstracts/functions";
@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./base/fonts";
@import "./vendors/bootstrap";
@font-face {
    font-family: myFirstFont;
    src: url('../fonts/Cairo-Light.ttf');
}

* {
    font-family: myFirstFont !important;
}

.loading {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000000;
    z-index: 9999999;
}


/*end*/